.welcome-div {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes welcomeMsg {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

.cc-hello-header {
    font-weight: 700;
    font-size: 52px;
    animation: welcomeMsg;
    animation-duration: 0.75s;
}

.section-header {
    font-weight: 600;
    font-size: 1.5em;
}
