.technical-skills-section {
    padding: 20px;
    min-height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-header {
    font-weight: 600;
    font-size: 20px;
}

.skills-selector-container {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    margin-top: 28px;
}

.skills-category-selector {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 12px;
}

.category-label {
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;

}

.category-label:hover {
    font-weight: 800;
    text-decoration: underline;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 10em;
    column-gap: 30px;
    width: 50%;
    justify-content: space-evenly;
    flex-direction: row;
}

.skill-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-label {
    font-weight: 600;
    font-size: 16px;
    margin: 10px;
}

.skill-icon {
    color: var(--skill-icon-color);
}
