@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  font-family: 'Open Sans', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.body {
  --background-color: white;
  --text-color: #282c34;
  --theme-selector-color: transparent;
}

.body.dark {
  --background-color: #1f1f1f;
  --text-color: white;
  --theme-selector-color: #ffffff;
}

.appHeader {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
}
